h1,h3{
    text-align: center;

}
.box{
    height: 225px;
    width: 225px;
    border:10px solid black;
    border-radius:25%;
    margin: 2rem;
    
}
.box1{
    display: flex;

}
.main_box{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}
.red{
    background-color: rgb(218, 88, 88);
}
.yellow{
    background-color: rgb(209, 156, 59);
}
.purple{
    background-color: rgb(143, 30, 143);
}
.green{
    background-color: rgb(24, 111, 24);
}
.flash{
    background-color: white;
}